<button (click)="loadCourses()">Load Courses</button>
<button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse">
    <!-- Ojo with trackBy-->
    {{ course.name }}
    <button (click)="onRemove(course)">Remove</button>
    <button (click)="onChange(course)">Change Name</button>
  </li>
</ul>
<br />
<button style="color: blue; background-color: orange">Save</button>
<button
  [style.backgroundColor]="canSave ? 'blue' : 'gray'"
  [style.color]="canSave ? 'white' : 'black'"
  [style.fontWeight]="canSave ? 'bold' : 'normal'"
>
  Save
</button>
<button
  [ngStyle]="{
    backgroundColor: canSave ? 'blue' : 'gray',
    color: canSave ? 'white' : 'black'
  }"
>
  Save
</button>
<input type="text" id="fname" name="fname" autofocus /><br /><br />
<input type="text" name="myname" />
